body {
    background-color: #181818;
    font-family: monospace;
    font-size: 12pt;
    color: #d8d8d8;
    height: 100%;
    display: flex;
    margin: auto 1em;
}

h1 {
    margin: 0;
    font-size: 18pt;
}

input {
    font-family: monospace;
    width: 100%;
    color: inherit;
    background-color: #181818;
    color-scheme: dark;
}

button {
    font-family: monospace;
    border-radius: 0px;
    width: fit-content;
    align-self: end;
    background-color: #d8d8d8;
    color: #181818;
}

button:disabled, button[disabled] {
    background-color: #181818;
    color: #d8d8d8;
}

.header-container {
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6pt;
}

.field-container {
    display: flex;
    flex-direction: column;
}

.name-container {
    text-align: center;
}

.count-container {
    display: flex;
    flex-direction: row;
    gap: 1ch;
    align-items: center;
}

.count-preface {
}

.clock-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    gap: 1ch;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.clock-part-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.clock-part-container p {
    margin: 0;
    text-align: right;
    font-size: 24pt;
}

.clock-part-container p.clock-part-label {
    font-size: 12pt;
}

.separator {
    width: calc(100% + 2em);
    height: 2px;
    margin: 1em -1em;
    background-color: #d8d8d8;
}

.red {
  color: #ab4642;
}
.green {
  color: #a1b56c;
}
.yellow {
  color: #f7ca88;
}
.blue {
  color: #7cafc2;
}
.magenta {
  color: #ba8baf;
}
.cyan {
  color: #86c1b9;
}
.orange {
  color: #dc9656;
}

#create {
    flex-direction: column;
    background-color: #383838;
    margin: auto;
    padding: 1em 1em;
}

#display {
    flex-direction: column;
    margin: auto;
    gap: 1em;
    align-items: center;
}
